body{
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0%;
}

.illustration-box-container{
    position: relative;
    width: 60%;
    min-width: min-content;
    max-width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-container{
    background: #fff;
    border-radius: 20px;
    display: flex;
    color: hsl(238, 29%, 16%);
    font-family: 'Kumbh Sans', sans-serif;
    padding: 50px 50px 50px 0px;
    min-width: min-content;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    min-width: max-content;
}

.illustration-woman{
    transform: translate(-15%,0);
}

.illustration-arrow{
    object-fit: contain;
}

.faq-container{
    width: 50%;
}

.faq-question:hover{
    cursor: pointer;
}

.faq-question p{
    font-size: 12px;
}

.faq-question h2{
    font-size: 12px;
    padding-right: 40px;
    min-width: max-content;
}

.faq-question-title{
    display: flex;
    justify-content: space-between;
}

.faq-question-title:hover{
    color: hsl(14, 88%, 65%);
}

.faq-container p{
    display: none;  
}

.illustration-box{
    position: absolute;
    z-index: 10;
    top: 40%;
    left: -100px;
}

/*Mobile Design*/
@media screen and (max-width: 768px){
    .body{
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        margin: 0%;
    }

    .illustration-box-container{
        background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
        position: relative;
        width: 100%;
        min-width: 0;
        max-width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .illustration-box{
        position: absolute;
        top: -10px;
        left: -20px;
        transform: scale(.5);
    }

    .card-container{
        background: #fff;
        border-radius: 20px;
        display: inline;
        color: hsl(238, 29%, 16%);
        font-family: 'Kumbh Sans', sans-serif;
        padding: 100px 20px 20px 20px;
        min-width: min-content;
        width: 50vw;
    }

    .faq-container{
        width: 100%;
    }

    .faq-question h2{
        font-size: 12px;
        padding-right: 40px;
        min-width: none;
    }

    .faq-question-title{
        text-align: center;
    }

    .image-container{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
        position: relative;
        min-width: none;
    }

    .illustration-woman{
        position: absolute;
        transform: scale(.5) translate(0, -250px);
        
    }
}


